#addTimeButton {
	width: 25%;
}

.answerImage {
	background-color: #8bc3e9;
	border: 5px solid #251b8c;
	height: 128px;
	margin-top: 30px;
	width: 128px;
}

body {
	background-image: url('../images/Background.JPG');
	background-size: cover;
	color: #251b8c;
	font-family: Arial;
	font-size: 16pt;	
	text-align: center;
	width: 100%;
}

button {
	background-color: #8bc3e9;
	border: 5px solid #251b8c;
	color: #251b8c;
	font-family: Arial;
	font-size: 16pt;
	width: 50%;
}

button:disabled:disabled {
	background-color: #4f565a;
	border-color: #7f8588;
	color: #7f8588;
}

button:hover:enabled {
	border-color: #ff0000;
	color: #ff0000;
}

.correct {
	color: #129012;
	font-size: 30pt;
	font-weight: bold;
}

#eliminateOptionsButton {
	width: 25%;
}

footer {
	bottom: 2px;
	color: #fbec5d;
	font-size: 12pt;
	left: 2px;
	position: fixed;
}

h1 {
	font-size: 24pt;
	font-weight: bold;
}

h2 {
	font-weight: normal;
}

.headerImage {
	height: 175px;
	width: 460px;
}

.incorrect {
	color: #d20000;
	font-size: 30pt;
	font-weight: bold;
}

#lifelineArea {
	margin-top: 30px;
}

.optionButton {
	margin-top: 15px;
}

#questionArea {
	font-weight: bold;
	margin-top: 30px;
}

#restartButton {
	font-size: 20pt;
	height: 80px;
	margin-top: 30px;
}

#startButton {
	font-size: 20pt;
	height: 40px;
	margin-top: 30px;
}

#timeArea {
	font-weight: bold;
	margin-top: 30px;
}

.wrapper {
	background: #fbec5d;
	border: 9px solid #251b8c;
	height: 630px;
	margin-bottom: 20px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	min-width: 885px;
	padding-top: 20px;
}
